.iconButton {
	cursor: pointer;
	display: grid;
	place-items: center;
	border: none;
	background: none;
	width: 42px;
	height: 42px;
	border-radius: 100%;
}
.iconButton:hover {
	background: #f1f1f1;
}

.micButton {
	background: #eb627d;
}
.micButton svg g {
	fill: white;
}
.iconButton.micButton:hover {
	background: #eb627d;
}
